@media screen and (max-width: 650px) {
  /* header styles */
  #header{
    flex-direction: column;
    justify-content: center;
    font-size: 1.5rem;
    padding: 1.8rem;
  }

  #header div:nth-child(1) {
    margin-bottom: 1.5rem;
  }

  #header #header-img {
    padding: 1rem 0;
    height: 56px;
    width: 56 px;
  }

  #nav-bar a {
    font-size: 1.8rem;
  }
  
  /* hero styles */
  #hero {
    height: 65vh;
  }
  
  #hero h1 {
    font-size: 2rem;
  }
  
  #hero h2 {
    font-size: 2rem;
  }

  #hero .form-btn {
    margin-top: 1rem;
    font-size: 1.6rem;
  }

  /* features styles */
  #features {
    flex-direction: column;
    display: block;
    /* margin-top: 33rem; */
    font-size: 1.5;
    height: 860px;
  }

  .features-item {
    padding: 3.5rem 0;
    font-size: 1.6rem;
  }

  .features-item i {
    font-size: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  /* video styles */
  .video-container {
    margin-top: 2.5rem;
    margin-bottom: 3.5rem;
  }

  /* pricing plans styles */
  #pricing-plans {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1300px;
  }

  #pricing-plans .pricing-box {
    margin-bottom: 3rem;
  }

  #plan2.pricing-box {
    margin-left: 0;
  }

  #plan3.pricing-box {
    margin-left: 0;
  }

  button.site-btn {
    margin-top: 1.4rem;
  }

  /* footer styles */
  #footer {
    width: 100%;
  }

  #footer ul a {
    font-size: 2rem;
  }
}